body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #fff0f5;
  padding: 20px;
}

h1, h2 {
  color: #d63384;
}

button {
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  background-color: #ff69b4;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff85c2;
}

input {
  width: calc(100% - 120px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  background: #ffe6f0;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: left;
}

.img-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li button {
  background: #ff4d4d;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: white;
}

#lista {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}